/* Estilo para toda página */
* {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* body {
  z-index: 1;
} */

/* Estilo do menu */
#menu {
  position: sticky; /* Estilo que faz o menu visível sempre no topo */
  top: 0;
  z-index: 2;
}

#menu ul {
  list-style: none;
  background: #45a2ff;
  display: flex;
  width: 100%;
  font-size: 20px;
  flex-direction: row;
  justify-content: center;
}

#menu li a {
  text-align: center;
  display: flex;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 2vh 2vh;
}

#menu li:hover {
  background-color: #5eafff;
}

/* Estilo da foto de perfil */
#Perfil img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* Estilo do meu nome */
.MeuNome {
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  font-size: 3em;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

/* Estilo do Texto "Sobre Mim" */
.CaixaDeTexto {
  background-color: rgba(194, 217, 243, 0.4);
  border-radius: 10px;
  padding-left: 10px;
}

#SobreMim-Conteudo,
#Intro-Skills,
#Skills-Conteudo,
#Social {
  padding-top: 3px;
  padding-left: 60px;
  padding-bottom: 3px;
}

/* Estilo de Skills */
.Skills {
  background-color: rgba(194, 217, 243, 0.4);
  border-radius: 10px;
  padding-left: 10px;
}

.Skills img {
  display: inline-block;
  padding: 5px;
  width: 60px;
  height: 60px;
}

/* animeção do nome */
.typing-animation {
  animation: blinkCursor 500ms steps(40) infinite normal,
    typing 3s steps(40) 1s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 10em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}